# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

#vscode coche
.vscode/.clangd/*

chunk_server_settings.json
master_server_settings.json

.git-credentials

tools/Chunk_DB
tools/Master_DB

tools/demo/chunk_server1/Chunk_DB
tools/demo/chunk_server1/Chunk_Server
tools/demo/chunk_server2/Chunk_DB
tools/demo/chunk_server2/Chunk_Server
tools/demo/chunk_server3/Chunk_DB
tools/demo/chunk_server3/Chunk_Server
tools/demo/chunk_server4/Chunk_DB
tools/demo/chunk_server4/Chunk_Server
tools/demo/chunk_server5/Chunk_DB
tools/demo/chunk_server5/Chunk_Server
tools/demo/master_server/Master_DB
tools/demo/master_server/master_server